In [1]:
import pandas as pd
import numpy as np
from scipy import stats

[For starting kaggle](https://towardsdatascience.com/how-i-got-started-with-kaggle-competitions-its-not-that-hard-7666f25e9f93)

## Hypothesis testing

When we do hypothesis testing, we actually have two statements of interest: the first is our actual
explanation, which we call the alternative hypothesis, and the second is that the explanation we have is not
sufficient, and we call this the null hypothesis. Our actual testing method is to determine whether the null
hypothesis is true or not. If we find that there is a difference between groups, then we can reject the null
hypothesis and we accept our alternative.

In [2]:
df = pd.read_csv('datasets/grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [6]:
df.shape
df.dtypes

student_id                 object
assignment1_grade         float64
assignment1_submission     object
assignment2_grade         float64
assignment2_submission     object
assignment3_grade         float64
assignment3_submission     object
assignment4_grade         float64
assignment4_submission     object
assignment5_grade         float64
assignment5_submission     object
assignment6_grade         float64
assignment6_submission     object
dtype: object

In [7]:
pd.to_datetime(df['assignment1_submission']).dtype

dtype('<M8[ns]')

In [42]:
#method 1
early_finisher = df[df['assignment1_submission'] < '2016']
late_finisher = df[df['assignment1_submission'] >= '2016']

In [33]:
#method2
df2 = pd.read_csv('datasets/grades.csv')
df2 = df2.set_index([df2.index, 'assignment1_submission'])
def segment(item):
    if item[1] >= '2016':
        return 'late finisher'
    elif item[1] < '2016':
        return 'early finisher'
finisher = df2.groupby(segment)
for key, group in finisher:
    print(key, group)
df2 = df2.reset_index()

early finisher                                                               student_id  \
     assignment1_submission
0    2015-11-02 06:55:34.282000000  B73F2C11-70F0-E37D-8B10-1D20AFED50B1
1    2015-11-29 14:57:44.429000000  98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1
4    2015-12-13 17:06:10.750000000  5ECBEEB6-F1CE-80AE-3164-E45E99473FB4
5    2015-12-28 04:35:32.836000000  D09000A0-827B-C0FF-3433-BF8FF286E15B
8    2015-12-25 02:29:28.415000000  C9D51293-BD58-F113-4167-A7C0BAFCB6E5
...                                                                  ...
2308 2015-10-03 09:04:46.358000000  EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31
2309 2015-10-01 23:25:20.529000000  6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC
2311 2015-11-29 02:43:27.932000000  DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2
2312 2015-10-20 08:09:27.418000000  EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31
2314 2015-10-04 09:46:03.403000000  DDE0526B-7DA4-80E8-C2A6-D097F3826029

                                    assignment1_grade  assignment2_grade  \
     assignment1_submission
0    2015-11-02 06:55:34.282000000          92.733946          83.030552
1    2015-11-29 14:57:44.429000000          86.790821          86.290821
4    2015-12-13 17:06:10.750000000          64.813800          51.491040
5    2015-12-28 04:35:32.836000000          71.647278          64.052550
8    2015-12-25 02:29:28.415000000          66.595568          52.916454
...                                               ...                ...
2308 2015-10-03 09:04:46.358000000          71.481182          70.981182
2309 2015-10-01 23:25:20.529000000          82.640274          65.752219
2311 2015-11-29 02:43:27.932000000          75.367870          59.934296
2312 2015-10-20 08:09:27.418000000          73.269463          58.255570
2314 2015-10-04 09:46:03.403000000          80.318105          79.818105

                                           assignment2_submission  \
     assignment1_submission
0    2015-11-02 06:55:34.282000000  2015-11-09 02:22:58.938000000
1    2015-11-29 14:57:44.429000000  2015-12-06 17:41:18.449000000
4    2015-12-13 17:06:10.750000000  2015-12-14 12:25:12.056000000
5    2015-12-28 04:35:32.836000000  2016-01-03 21:05:38.392000000
8    2015-12-25 02:29:28.415000000  2015-12-31 01:42:30.046000000
...                                                           ...
2308 2015-10-03 09:04:46.358000000  2015-10-06 03:57:28.420000000
2309 2015-10-01 23:25:20.529000000  2015-10-05 02:06:11.522000000
2311 2015-11-29 02:43:27.932000000  2015-12-03 05:30:39.218000000
2312 2015-10-20 08:09:27.418000000  2015-11-18 19:07:06.930000000
2314 2015-10-04 09:46:03.403000000  2015-10-06 10:28:30.820000000

                                    assignment3_grade  \
     assignment1_submission
0    2015-11-02 06:55:34.282000000          67.164441
1    2015-11-29 14:57:44.429000000          69.772657
4    2015-12-13 17:06:10.750000000          41.932832
5    2015-12-28 04:35:32.836000000          64.752550
8    2015-12-25 02:29:28.415000000          48.344809
...                                               ...
2308 2015-10-03 09:04:46.358000000          64.603064
2309 2015-10-01 23:25:20.529000000          53.341775
2311 2015-11-29 02:43:27.932000000          48.687437
2312 2015-10-20 08:09:27.418000000          58.955570
2314 2015-10-04 09:46:03.403000000          64.594484

                                           assignment3_submission  \
     assignment1_submission
0    2015-11-02 06:55:34.282000000  2015-11-12 08:58:33.998000000
1    2015-11-29 14:57:44.429000000  2015-12-10 08:54:55.904000000
4    2015-12-13 17:06:10.750000000  2015-12-29 14:25:22.594000000
5    2015-12-28 04:35:32.836000000  2016-01-07 08:55:43.692000000
8    2015-12-25 02:29:28.415000000  2016-01-05 23:34:02.180000000
...                                                           ...
2308 2015-10-03 09:04:46.358000000  2015-10-12 07:58:25.081000000
2309 2015-10-01 23:25:20.529000000  2015-10-22 23:58:36.426000000
2311 2015-11-29 02:43:27.932000000  2015-12-09 15:56:44.895000000
2312 2015-10-20 08:09:27.418000000  2015-12-10 08:54:54.871000000
2314 2015-10-04 09:46:03.403000000  2015-10-13 17:06:29.179000000

                                    assignment4_grade  \
     assignment1_submission
0    2015-11-02 06:55:34.282000000          53.011553
1    2015-11-29 14:57:44.429000000          55.098125
4    2015-12-13 17:06:10.750000000          36.929549
5    2015-12-28 04:35:32.836000000          57.467295
8    2015-12-25 02:29:28.415000000          47.444809
...                                               ...
2308 2015-10-03 09:04:46.358000000          63.703064
2309 2015-10-01 23:25:20.529000000          47.197598
2311 2015-11-29 02:43:27.932000000          43.008693
2312 2015-10-20 08:09:27.418000000          52.250013
2314 2015-10-04 09:46:03.403000000          50.955587

                                           assignment4_submission  \
     assignment1_submission
0    2015-11-02 06:55:34.282000000  2015-11-16 01:21:24.663000000
1    2015-11-29 14:57:44.429000000  2015-12-13 17:32:30.941000000
4    2015-12-13 17:06:10.750000000  2015-12-28 01:29:55.901000000
5    2015-12-28 04:35:32.836000000  2016-01-11 00:45:28.706000000
8    2015-12-25 02:29:28.415000000  2016-01-02 07:48:42.517000000
...                                                           ...
2308 2015-10-03 09:04:46.358000000  2015-10-17 07:59:49.005000000
2309 2015-10-01 23:25:20.529000000  2015-10-16 12:32:56.809000000
2311 2015-11-29 02:43:27.932000000  2015-12-13 06:18:01.342000000
2312 2015-10-20 08:09:27.418000000  2015-11-23 19:40:00.434000000
2314 2015-10-04 09:46:03.403000000  2015-10-06 16:18:35.513000000

                                    assignment5_grade  \
     assignment1_submission
0    2015-11-02 06:55:34.282000000          47.710398
1    2015-11-29 14:57:44.429000000          49.588313
4    2015-12-13 17:06:10.750000000          33.236594
5    2015-12-28 04:35:32.836000000          57.467295
8    2015-12-25 02:29:28.415000000          37.955847
...                                               ...
2308 2015-10-03 09:04:46.358000000          50.962451
2309 2015-10-01 23:25:20.529000000          47.197598
2311 2015-11-29 02:43:27.932000000          38.707824
2312 2015-10-20 08:09:27.418000000          41.800010
2314 2015-10-04 09:46:03.403000000          40.764470

                                           assignment5_submission  \
     assignment1_submission
0    2015-11-02 06:55:34.282000000  2015-11-20 13:24:59.692000000
1    2015-11-29 14:57:44.429000000  2015-12-19 23:26:39.285000000
4    2015-12-13 17:06:10.750000000  2015-12-29 14:46:06.628000000
5    2015-12-28 04:35:32.836000000  2016-01-11 00:54:13.579000000
8    2015-12-25 02:29:28.415000000  2016-01-03 21:27:04.266000000
...                                                           ...
2308 2015-10-03 09:04:46.358000000  2015-10-18 02:29:34.374000000
2309 2015-10-01 23:25:20.529000000  2015-10-24 12:16:54.993000000
2311 2015-11-29 02:43:27.932000000  2015-12-20 02:39:39.248000000
2312 2015-10-20 08:09:27.418000000  2015-11-29 14:23:43.659000000
2314 2015-10-04 09:46:03.403000000  2015-10-23 17:03:26.939000000

                                    assignment6_grade  \
     assignment1_submission
0    2015-11-02 06:55:34.282000000          38.168318
1    2015-11-29 14:57:44.429000000          44.629482
4    2015-12-13 17:06:10.750000000          33.236594
5    2015-12-28 04:35:32.836000000          57.467295
8    2015-12-25 02:29:28.415000000          37.955847
...                                               ...
2308 2015-10-03 09:04:46.358000000          45.866206
2309 2015-10-01 23:25:20.529000000          37.758078
2311 2015-11-29 02:43:27.932000000          38.707824
2312 2015-10-20 08:09:27.418000000          41.800010
2314 2015-10-04 09:46:03.403000000          40.764470

                                           assignment6_submission
     assignment1_submission
0    2015-11-02 06:55:34.282000000  2015-11-22 18:31:15.934000000
1    2015-11-29 14:57:44.429000000  2015-12-21 17:07:24.275000000
4    2015-12-13 17:06:10.750000000  2016-01-05 01:06:59.546000000
5    2015-12-28 04:35:32.836000000  2016-01-20 19:54:46.166000000
8    2015-12-25 02:29:28.415000000  2016-01-19 15:24:31.060000000
...                                                           ...
2308 2015-10-03 09:04:46.358000000  2015-10-27 00:21:47.208000000
2309 2015-10-01 23:25:20.529000000  2015-10-26 10:34:41.293000000
2311 2015-11-29 02:43:27.932000000  2015-12-22 13:34:42.931000000
2312 2015-10-20 08:09:27.418000000  2015-12-04 09:56:07.156000000
2314 2015-10-04 09:46:03.403000000  2015-10-26 15:56:55.460000000

[1259 rows x 12 columns]
late finisher                                                               student_id  \
     assignment1_submission
2    2016-01-09 05:36:02.389000000  D0F62040-CEB0-904C-F563-2F8620916C4E
3    2016-04-30 06:50:39.801000000  FFDF2B2C-F514-EF7F-6538-A6A53518E9DC
6    2016-03-05 11:05:25.408000000  3217BE3F-E4B0-C3B6-9F64-462456819CE4
7    2016-01-24 18:24:25.619000000  F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F
9    2016-03-06 12:06:26.185000000  E2C617C2-4654-622C-AB50-1550C4BE42A0
...                                                                  ...
2303 2016-01-23 09:19:40.494000000  DDE0526B-7DA4-80E8-C2A6-D097F3826029
2306 2016-06-22 20:21:58.182000000  DDE0526B-7DA4-80E8-C2A6-D097F3826029
2307 2016-01-20 23:22:16.592000000  1F51E050-78F7-F270-1B90-ED1BC0376763
2310 2016-03-07 02:52:24.378000000  DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2
2313 2016-04-03 09:04:51.646000000  1F51E050-78F7-F270-1B90-ED1BC0376763

                                    assignment1_grade  assignment2_grade  \
     assignment1_submission
2    2016-01-09 05:36:02.389000000          85.512541          85.512541
3    2016-04-30 06:50:39.801000000          86.030665          68.824532
6    2016-03-05 11:05:25.408000000          87.498744          69.998995
7    2016-01-24 18:24:25.619000000          80.576090          72.518481
9    2016-03-06 12:06:26.185000000          59.270882          59.270882
...                                               ...                ...
2303 2016-01-23 09:19:40.494000000          97.215052          77.772041
2306 2016-06-22 20:21:58.182000000          47.696703          38.157363
2307 2016-01-20 23:22:16.592000000          94.595758          85.136182
2310 2016-03-07 02:52:24.378000000          77.684611          69.916150
2313 2016-04-03 09:04:51.646000000          87.268366          87.268366

                                           assignment2_submission  \
     assignment1_submission
2    2016-01-09 05:36:02.389000000  2016-01-09 06:39:44.416000000
3    2016-04-30 06:50:39.801000000  2016-04-30 17:20:38.727000000
6    2016-03-05 11:05:25.408000000  2016-03-09 07:29:52.405000000
7    2016-01-24 18:24:25.619000000  2016-01-27 13:37:12.943000000
9    2016-03-06 12:06:26.185000000  2016-03-13 02:07:25.289000000
...                                                           ...
2303 2016-01-23 09:19:40.494000000  2016-01-26 08:38:13.085000000
2306 2016-06-22 20:21:58.182000000  2016-06-23 18:22:45.622000000
2307 2016-01-20 23:22:16.592000000  2016-01-27 22:30:29.914000000
2310 2016-03-07 02:52:24.378000000  2016-03-11 22:02:39.161000000
2313 2016-04-03 09:04:51.646000000  2016-04-08 19:24:29.095000000

                                    assignment3_grade  \
     assignment1_submission
2    2016-01-09 05:36:02.389000000          68.410033
3    2016-04-30 06:50:39.801000000          61.942079
6    2016-03-05 11:05:25.408000000          55.999196
7    2016-01-24 18:24:25.619000000          65.266633
9    2016-03-06 12:06:26.185000000          53.343794
...                                               ...
2303 2016-01-23 09:19:40.494000000          69.994837
2306 2016-06-22 20:21:58.182000000          38.157363
2307 2016-01-20 23:22:16.592000000          76.622564
2310 2016-03-07 02:52:24.378000000          69.916150
2313 2016-04-03 09:04:51.646000000          87.268366

                                           assignment3_submission  \
     assignment1_submission
2    2016-01-09 05:36:02.389000000  2016-01-15 20:22:45.882000000
3    2016-04-30 06:50:39.801000000  2016-05-12 07:47:16.326000000
6    2016-03-05 11:05:25.408000000  2016-03-16 22:31:24.316000000
7    2016-01-24 18:24:25.619000000  2016-01-30 14:34:36.581000000
9    2016-03-06 12:06:26.185000000  2016-03-17 07:30:09.241000000
...                                                           ...
2303 2016-01-23 09:19:40.494000000  2016-01-29 15:04:34.705000000
2306 2016-06-22 20:21:58.182000000  2016-07-02 22:18:59.529000000
2307 2016-01-20 23:22:16.592000000  2016-01-31 15:39:45.088000000
2310 2016-03-07 02:52:24.378000000  2016-03-17 07:30:09.261000000
2313 2016-04-03 09:04:51.646000000  2016-04-12 05:43:33.853000000

                                    assignment4_grade  \
     assignment1_submission
2    2016-01-09 05:36:02.389000000          54.728026
3    2016-04-30 06:50:39.801000000          49.553663
6    2016-03-05 11:05:25.408000000          50.399276
7    2016-01-24 18:24:25.619000000          65.266633
9    2016-03-06 12:06:26.185000000          53.343794
...                                               ...
2303 2016-01-23 09:19:40.494000000          62.995353
2306 2016-06-22 20:21:58.182000000          30.525890
2307 2016-01-20 23:22:16.592000000          68.960307
2310 2016-03-07 02:52:24.378000000          69.916150
2313 2016-04-03 09:04:51.646000000          69.814693

                                           assignment4_submission  \
     assignment1_submission
2    2016-01-09 05:36:02.389000000  2016-01-11 12:41:50.749000000
3    2016-04-30 06:50:39.801000000  2016-05-07 16:09:20.485000000
6    2016-03-05 11:05:25.408000000  2016-03-18 07:19:26.032000000
7    2016-01-24 18:24:25.619000000  2016-02-03 22:08:49.002000000
9    2016-03-06 12:06:26.185000000  2016-03-20 21:45:56.229000000
...                                                           ...
2303 2016-01-23 09:19:40.494000000  2016-02-06 12:51:00.647000000
2306 2016-06-22 20:21:58.182000000  2016-06-28 22:05:38.100000000
2307 2016-01-20 23:22:16.592000000  2016-02-06 21:43:05.836000000
2310 2016-03-07 02:52:24.378000000  2016-03-18 18:01:24.525000000
2313 2016-04-03 09:04:51.646000000  2016-04-14 10:43:58.104000000

                                    assignment5_grade  \
     assignment1_submission
2    2016-01-09 05:36:02.389000000          49.255224
3    2016-04-30 06:50:39.801000000          49.553663
6    2016-03-05 11:05:25.408000000          45.359349
7    2016-01-24 18:24:25.619000000          65.266633
9    2016-03-06 12:06:26.185000000          42.675035
...                                               ...
2303 2016-01-23 09:19:40.494000000          50.396283
2306 2016-06-22 20:21:58.182000000          30.525890
2307 2016-01-20 23:22:16.592000000          62.064277
2310 2016-03-07 02:52:24.378000000          55.932920
2313 2016-04-03 09:04:51.646000000          55.851754

                                           assignment5_submission  \
     assignment1_submission
2    2016-01-09 05:36:02.389000000  2016-01-11 17:31:12.489000000
3    2016-04-30 06:50:39.801000000  2016-05-24 12:51:18.016000000
6    2016-03-05 11:05:25.408000000  2016-03-19 10:35:41.869000000
7    2016-01-24 18:24:25.619000000  2016-02-16 14:22:23.664000000
9    2016-03-06 12:06:26.185000000  2016-03-27 15:55:04.414000000
...                                                           ...
2303 2016-01-23 09:19:40.494000000  2016-02-11 15:44:08.113000000
2306 2016-06-22 20:21:58.182000000  2016-07-09 20:08:14.734000000
2307 2016-01-20 23:22:16.592000000  2016-02-14 18:52:48.594000000
2310 2016-03-07 02:52:24.378000000  2016-03-20 06:38:12.120000000
2313 2016-04-03 09:04:51.646000000  2016-04-19 05:37:19.322000000

                                    assignment6_grade  \
     assignment1_submission
2    2016-01-09 05:36:02.389000000          44.329701
3    2016-04-30 06:50:39.801000000          44.598297
6    2016-03-05 11:05:25.408000000          45.359349
7    2016-01-24 18:24:25.619000000          65.266633
9    2016-03-06 12:06:26.185000000          38.407532
...                                               ...
2303 2016-01-23 09:19:40.494000000          50.396283
2306 2016-06-22 20:21:58.182000000          30.525890
2307 2016-01-20 23:22:16.592000000          49.651421
2310 2016-03-07 02:52:24.378000000          50.339628
2313 2016-04-03 09:04:51.646000000          55.851754

                                           assignment6_submission
     assignment1_submission
2    2016-01-09 05:36:02.389000000  2016-01-17 16:24:42.765000000
3    2016-04-30 06:50:39.801000000  2016-05-26 08:09:12.058000000
6    2016-03-05 11:05:25.408000000  2016-03-23 14:02:00.987000000
7    2016-01-24 18:24:25.619000000  2016-02-18 08:35:04.796000000
9    2016-03-06 12:06:26.185000000  2016-03-30 20:33:13.554000000
...                                                           ...
2303 2016-01-23 09:19:40.494000000  2016-02-14 09:03:33.466000000
2306 2016-06-22 20:21:58.182000000  2016-07-17 15:17:58.502000000
2307 2016-01-20 23:22:16.592000000  2016-02-19 20:36:16.121000000
2310 2016-03-07 02:52:24.378000000  2016-03-25 11:00:06.923000000
2313 2016-04-03 09:04:51.646000000  2016-04-23 03:44:06.813000000

[1056 rows x 12 columns]

In [40]:
#method 3
late_finisher = df.merge(early_finisher,how='left')
late_finisher.shape

(2315, 13)

In [ ]:
#method 4
late_finisher = df[~df.index.isin(early_finisher.index)] #좋은 생각인 것 같음. Reverse bitwise

In [44]:
df.mean() #We can see only columns whose dtype is number are calculated

assignment1_grade    74.535732
assignment2_grade    66.849007
assignment3_grade    60.623197
assignment4_grade    54.112112
assignment5_grade    48.618522
assignment6_grade    43.841452
dtype: float64

When doing hypothesis testing, we have to choose a **significance level** as a threshold for how much of a
chance we're willing to accept. This significance level is typically called alpha. #For this example, let's
use a threshold of 0.05 for our alpha or 5%. Now this is a commonly used number but it's really quite
arbitrary.

The SciPy library contains a number of different statistical tests and forms a basis for hypothesis testing
in Python and we're going to use the ttest_ind() function which does an independent t-test (meaning the
populations are not related to one another). The result of ttest_index() are the t-statistic and a p-value.
It's this latter value, the probability, which is most important to us, as it indicates the chance (between
0 and 1) of our null hypothesis being True.

[Significant level & p value](https://blog.minitab.com/en/adventures-in-statistics-2/understanding-hypothesis-tests-significance-levels-alpha-and-p-values-in-statistics)

[T test](https://bioinformaticsandme.tistory.com/80)

In [51]:
stats.ttest_ind(early_finisher['assignment1_grade'],late_finisher['assignment1_grade'])

Ttest_indResult(statistic=1.322354085372139, pvalue=0.1861810110171455)

So here we see that the probability is 0.18, and this is above our alpha value of 0.05. **This means that we
cannot reject the null hypothesis.** The null hypothesis was that the two populations are the same, and we
don't have enough certainty in our evidence (because it is greater than alpha) to come to a conclusion to
the contrary. This doesn't mean that we have proven the populations are the same.

In [57]:
print(stats.ttest_ind(early_finisher['assignment1_grade'],late_finisher['assignment1_grade']))
print(stats.ttest_ind(early_finisher['assignment2_grade'],late_finisher['assignment2_grade']))
print(stats.ttest_ind(early_finisher['assignment3_grade'],late_finisher['assignment3_grade']))
print(stats.ttest_ind(early_finisher['assignment4_grade'],late_finisher['assignment4_grade']))
print(stats.ttest_ind(early_finisher['assignment5_grade'],late_finisher['assignment5_grade']))
print(stats.ttest_ind(early_finisher['assignment6_grade'],late_finisher['assignment6_grade']))

Ttest_indResult(statistic=1.322354085372139, pvalue=0.1861810110171455)
Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

Ok, so it looks like in this data we do not have enough evidence to suggest the populations differ with
respect to grade. Let's take a look at those p-values for a moment though, because they are saying things
that can inform experimental design down the road. For instance, one of the assignments, assignment 3, has a
p-value around 0.1. This means that if we accepted a level of chance similarity of 11% this would have been
considered statistically significant. As a research, this would suggest to me that there is something here
worth considering following up on. For instance, if we had a small number of participants (we don't) or if
there was something unique about this assignment as it relates to our experiment (whatever it was) then
there may be followup experiments we could run.

P-values have come under fire recently for being insufficient for telling us enough about the interactions
which are happening, and two other techniques, **confidence intervalues and bayesian analyses, are being used
more regularly**. **One issue with p-values is that as you run more tests you are likely to get a value which
is statistically significant just by chance.**

In [72]:
df_ex = pd.DataFrame(np.random.rand(100,100))
df_ex2 = pd.DataFrame(np.random.rand(100,100))
stats.ttest_ind(df_ex,df_ex2)

Ttest_indResult(statistic=array([ 0.74440233,  1.95016934,  0.85903557, -1.04954102,  0.36512299,
        1.35406883,  0.59897937, -0.22080219, -0.55862255, -0.818488  ,
        0.07949126,  0.74448219, -0.26022535, -1.51028577,  0.61890436,
        0.35370372, -1.10268603, -1.83206296, -0.03939916,  0.70897945,
       -0.12080411, -0.07231679, -0.31560911,  0.43594949,  0.19921982,
       -0.49613938,  0.1129025 ,  0.01019079,  0.48434737,  0.49612944,
        0.23430764, -0.26176824, -0.26256872, -0.98984275, -0.3249166 ,
       -0.58176275, -0.16777779, -1.09051278,  0.08547424, -0.0417833 ,
        0.58118745,  1.49373407, -1.30964263, -0.54241183,  0.65569986,
       -1.23428727, -0.20861231,  0.42640594,  1.80517292, -0.20082946,
        0.8704161 , -1.98386892,  1.85228758,  0.78257032,  2.05661069,
       -0.19494403, -0.93533229,  0.18663802, -1.49777005,  0.29231155,
       -0.06490491,  0.02399493, -1.45676909, -0.13595557, -0.16090491,
        1.96290999,  1.15551915,  0.18035869,  1.36213034,  0.72261805,
       -0.03483313,  1.08327462,  0.1474641 ,  0.85751864, -0.52730068,
        0.88713002,  1.19049146,  1.57939657,  0.08903316,  0.48379419,
        0.05212106,  0.87947118, -0.36303053,  0.43502507, -1.4534495 ,
       -1.88258651, -1.3283724 , -0.2515788 ,  0.42368199, -0.02603007,
       -0.85419435,  0.28130615, -1.6439908 ,  0.62244969, -0.03581609,
       -1.15211881,  0.58724705, -1.76720186,  0.5770505 , -0.66718248]), pvalue=array([0.45751567, 0.05256765, 0.39135968, 0.29520854, 0.71540931,
       0.17725783, 0.54987133, 0.82547397, 0.57705054, 0.41406256,
       0.93672217, 0.45746748, 0.79496036, 0.13256473, 0.53669077,
       0.72393727, 0.271502  , 0.0684443 , 0.96861185, 0.47917117,
       0.9039687 , 0.9424228 , 0.75263163, 0.6633483 , 0.84229523,
       0.62034638, 0.91022224, 0.99187933, 0.62867469, 0.62035338,
       0.81498826, 0.79377224, 0.79315601, 0.32345907, 0.74558724,
       0.56138826, 0.86692934, 0.27681265, 0.93197074, 0.96671355,
       0.56177512, 0.136837  , 0.19183432, 0.5881448 , 0.51277843,
       0.2185588 , 0.83496535, 0.6702753 , 0.0725668 , 0.84103807,
       0.38512709, 0.04865206, 0.06547311, 0.4348144 , 0.04103503,
       0.84563665, 0.35075641, 0.85213555, 0.1357855 , 0.7703545 ,
       0.9483152 , 0.98088082, 0.14676413, 0.89199453, 0.87233235,
       0.05105717, 0.24927039, 0.85705545, 0.17470434, 0.47076723,
       0.97224789, 0.28000394, 0.88291577, 0.39219507, 0.59857513,
       0.37608519, 0.23527863, 0.11584133, 0.92914555, 0.62906657,
       0.95848478, 0.38021197, 0.71696934, 0.66401802, 0.14768211,
       0.06122302, 0.18558417, 0.80162757, 0.67225764, 0.97925957,
       0.3940296 , 0.77876936, 0.10176495, 0.53436239, 0.97146508,
       0.25066142, 0.55770684, 0.0787349 , 0.56456086, 0.50543237]))

In [78]:
df_ex = pd.DataFrame(np.random.rand(100,100))
df_ex2 = pd.DataFrame(np.random.rand(100,100))
def test_columns(df1, df2, alpha=0.1):
    result_set= {}
    for col in df1.columns:
        teststat, pval = stats.ttest_ind(df1[col],df2[col])
        if pval <= alpha:
            result_set[col] = (alpha,pval)
    return result_set
test_columns(df_ex,df_ex2,0.20)

{1: (0.2, 0.11627172396837271),
 4: (0.2, 0.18182997093847114),
 23: (0.2, 0.02487787254453243),
 45: (0.2, 0.015384106950749963),
 49: (0.2, 0.19309249075530124),
 50: (0.2, 0.05914284464746164),
 51: (0.2, 0.1089637612271509),
 56: (0.2, 0.13210225814278265),
 63: (0.2, 0.08040555344413186),
 68: (0.2, 0.16501476691728673),
 69: (0.2, 0.144232086383631),
 71: (0.2, 0.005862764641698116),
 75: (0.2, 0.10694163203454717),
 83: (0.2, 0.15516197042491142),
 87: (0.2, 0.1476348045652125),
 89: (0.2, 0.1791555536675419),
 90: (0.2, 0.006636490592130091),
 94: (0.2, 0.011073037273612422),
 95: (0.2, 0.19572701916314267)}

Interesting, so we see that there are a bunch of columns that are different! In fact, that number looks a
lot like the alpha value we chose. So what's going on - shouldn't all of the columns be the same? Remember
that all the ttest does is check if two sets are similar given some level of confidence, in our case, 10%.
The more random comparisons you do, **the more will just happen to be the same by chance.** In this example, we
checked 100 columns, so we would expect there to be roughly 10 of them if our alpha was 0.1.

In [80]:
df_ex2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns(df_ex,df_ex2)

{0: (0.1, 0.0013449765735121491),
 1: (0.1, 3.394911401877077e-06),
 2: (0.1, 0.007445087334119664),
 3: (0.1, 0.0006386180956930828),
 4: (0.1, 0.00014219746397301514),
 5: (0.1, 1.776541826206327e-05),
 6: (0.1, 0.0003015246215136257),
 7: (0.1, 0.00010604005413461184),
 8: (0.1, 0.00035549796671048654),
 9: (0.1, 0.0005608797807600568),
 10: (0.1, 0.006085694655409246),
 11: (0.1, 0.0001867671801334664),
 12: (0.1, 3.762366547589457e-05),
 13: (0.1, 0.00030505318971975706),
 14: (0.1, 0.00046281997354480044),
 15: (0.1, 0.0006144521016156738),
 16: (0.1, 0.008688563986004597),
 17: (0.1, 0.001064249906910045),
 18: (0.1, 0.0016219897366607037),
 19: (0.1, 0.0002216748495119436),
 20: (0.1, 0.00247421934915673),
 21: (0.1, 7.089798816575526e-06),
 22: (0.1, 0.00043205316670595335),
 23: (0.1, 0.00025130783067709323),
 24: (0.1, 3.266009763127041e-07),
 25: (0.1, 3.3773608312286316e-05),
 26: (0.1, 0.0027829823741488823),
 27: (0.1, 0.0043923233413999474),
 28: (0.1, 0.0002354139066688811),
 29: (0.1, 0.0013009693023989914),
 30: (0.1, 2.9868399757100265e-05),
 31: (0.1, 5.834295595231959e-05),
 32: (0.1, 0.0010337694573270913),
 33: (0.1, 0.001546988711846323),
 34: (0.1, 0.008668204316514916),
 35: (0.1, 0.00027702044349808114),
 36: (0.1, 0.000954274375008627),
 37: (0.1, 0.0008502060066709232),
 38: (0.1, 0.0010564767362801172),
 39: (0.1, 0.0008487270186885353),
 40: (0.1, 0.0007857790543438751),
 41: (0.1, 0.00018829143245511115),
 42: (0.1, 0.00029818239081405264),
 43: (0.1, 0.004414885781961258),
 44: (0.1, 0.010436982277443583),
 45: (0.1, 0.006751621148634972),
 46: (0.1, 0.018803356621436486),
 47: (0.1, 0.0019771473089780483),
 48: (0.1, 1.2776066913680613e-06),
 49: (0.1, 0.0002838157114920808),
 50: (0.1, 0.0022398670287330897),
 51: (0.1, 0.0025093637425805675),
 52: (0.1, 0.0005329205453856311),
 53: (0.1, 0.0023317205502260733),
 54: (0.1, 0.00010715194109345358),
 55: (0.1, 0.002293781155385985),
 56: (0.1, 0.0006462236174921439),
 57: (0.1, 0.0004889577751665921),
 58: (0.1, 0.017942981548798812),
 59: (0.1, 4.018477025404464e-05),
 60: (0.1, 8.544485347926223e-05),
 61: (0.1, 0.0009831635412364027),
 62: (0.1, 0.005026318115253211),
 63: (0.1, 5.589303780048428e-05),
 64: (0.1, 6.453418909747591e-05),
 65: (0.1, 8.963088478347294e-05),
 66: (0.1, 0.007583579998048981),
 67: (0.1, 0.011313824759696662),
 68: (0.1, 0.00027337240927435526),
 69: (0.1, 6.0901577854593276e-05),
 70: (0.1, 1.7556624030174844e-05),
 71: (0.1, 4.3110223873333736e-05),
 72: (0.1, 0.0009574071632644316),
 73: (0.1, 0.06802867305787817),
 74: (0.1, 3.3948602824374004e-05),
 75: (0.1, 4.636666971544972e-06),
 76: (0.1, 0.0010068672814567271),
 77: (0.1, 0.025217357768780497),
 78: (0.1, 0.0014524858879221576),
 79: (0.1, 0.0007769607141291476),
 80: (0.1, 0.008126585302997374),
 81: (0.1, 0.003361208387302732),
 82: (0.1, 0.00027189897458401236),
 83: (0.1, 0.0009522179904746089),
 84: (0.1, 0.001070285255829255),
 85: (0.1, 0.012418553325412885),
 86: (0.1, 6.066760716184117e-06),
 87: (0.1, 0.00047434412419444815),
 88: (0.1, 0.002190678182681472),
 89: (0.1, 9.818291781718754e-06),
 90: (0.1, 4.863934797185857e-05),
 91: (0.1, 4.512334229524328e-05),
 92: (0.1, 9.813721541038319e-06),
 93: (0.1, 0.010610483202174939),
 94: (0.1, 7.724023590014324e-06),
 95: (0.1, 0.0009544373143369855),
 96: (0.1, 8.325750447373901e-06),
 97: (0.1, 0.001782807306576102),
 98: (0.1, 0.007661842154975232),
 99: (0.1, 0.0005088372954291373)}

## Structured data

It's an excellent way to show relationships between instances which are sometimes called observations, entities, or in the case of Pandas, rows, and the attributes that these instances have. Which are often called features or in Pandas, columns. But it's important to recognize that there's nothing in it to the data which is structured this way. This tabular representation of data is an abstraction that we as data scientists have applied to allow us to more easily build manipulation routines with certain properties. It's an abstraction that allows us to quickly do operations such as summarizing data fields or applying a machine learning algorithm. But there are many different forms of abstractions that you should be aware of, and I want to touch on a few of those here.

### Network Diagram - Social Research

### Adjacency Matrix

### Tree(Hierarchical Graph) - NLP

These structures are representations that we impose on the underlying data. The meaning of the data that we derive from these representations can change based on how we decide to apply a representation. A data scientist needs to be able to interact with a broad array of other stakeholders and as such needs to be able to be flexible with how they conceive of and represent data.